// @use "./_variables" as *;
// @use "./_mixins" as *;

$primeColor1: rgb(184, 57, 45);
$primeColor2: rgb(248, 158, 49);
$primeColor3: rgb(236, 202, 91);
$primeColor4: rgb(113, 174, 128);
$primeColor5: rgb(113, 130, 128);

@mixin borderStyling($style, $color, $radius) {
  border: $style;
  border-color: $color;
  border-radius: $radius;
}
