<button
  class="add-btn"
  mat-mini-fab
  aria-label="Add newUser"
  matTooltip="Add newUser"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

<button
  class="logging-col-docRef"
  (click)="refreshUsers()"
  [disabled]="loading"
>
  {{ loading ? "wird geladen..." : "jetzt laden." }}
</button>

@if (!loading) {
<div class="user-list">
  @if (firebaseService.users$ | async; as users) {
  <ng-container>
    @for (user of users; track $index) {

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{
          user.role || "Angestellter oder Kunde usw."
        }}</mat-card-title>

        <mat-card-subtitle>{{
          user.firstName || "Kein Vorname"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.lastName || "Kein Nachname"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.email || "Keine E-Mail"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.mobile || "Keine Telefonnummer"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.street || "Keine Straße"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.houseNumber || "Keine Hausnummer"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.zipCode || "Keine Postleitzahl"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{ user.town || "Keine E-Mail" }}</mat-card-subtitle>

        <mat-card-subtitle>{{ user.country || "Kein Land" }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.someMoreSomething || "Keine weitere Information"
        }}</mat-card-subtitle>

        <mat-card-subtitle>{{
          user.birthDate || "Kein Geburtsdatum"
        }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ user.description || "Keine Beschreibung vorhanden." }}</p>
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Benutzerinformationen">
          <mat-chip>{{ "Benutzer bearbeiten" }}</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    }
  </ng-container>

  } @else if (error) {
  <p>Fehler beim Laden der Daten: {{ error }}</p>
  } @else {
  <ng-template #loading>
    <mat-spinner></mat-spinner>
    <p>Daten werden geladen...</p>
  </ng-template>
  }
</div>
}
